{% extends '::base.html.twig' %}

{% block body %}
    {% if participants|length == 2 %}
        <div id="breakfast" class="world">
            <div class="participant participant-1">
                <img src="{{ vich_uploader_asset(participants[0], 'avatarFile')| imagine_filter('participant_avatar_display') }}" /><br />
                <span class="participant-name">{{ participants[0].name }}</span>
            </div>
            <div class="scene"></div>
            <div class="participant participant-2">
                <img src="{{ vich_uploader_asset(participants[1], 'avatarFile')| imagine_filter('participant_avatar_display') }}" /><br />
                <span class="participant-name">{{ participants[1].name }}</span>
            </div>
            <div id="clockdiv">
                <div>
                    <span class="days"></span>
                    <div class="smalltext">Jours</div>
                </div>
                <div>
                    <span class="hours"></span>
                    <div class="smalltext">Heures</div>
                </div>
                <div>
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div>
                    <span class="seconds"></span>
                    <div class="smalltext">Secondes</div>
                </div>
            </div>
        </div>
    {% else %}
        Not enough eligible participants :(
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    html, body {
        height: 100%;
    }
    body {
        background: url('/assets/bg.jpg');
        background-size: 0.3%;
    }
    .world {
        height: 100%;
        min-height: 400px;
    }
    .world div.scene {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
    }
    .world div.scene:before,
    .world div.scene:after {
        display: block;
        content: '';
        position: absolute;
    }
    #breakfast div.scene {
        width: 210px;
        height: 210px;
        margin-left: -105px;
        margin-top: -105px;
        border-radius: 50%;
        background: #f7f7f7;
        box-shadow: inset 0 2px 8px rgba(0,0,0,0.1),
        0 0 0 20px white, 0 6px 0 20px #eee,
        0 12px 4px 20px rgba(0,0,0,0.2);
    }

    #breakfast div.scene:before {
        width: 140px;
        height: 140px;
        left: 70px;
        top: 0px;
        border-radius: 50%;
        background: #d6ab75;
        box-shadow: 0 6px 0 #f1cb9a,
        0 8px 2px rgba(0,0,0,0.2),
        -132px 40px 0 -61px #f6c83e,
        -128px 40px 0 -54px #edb815,
        -128px 42px 2px -54px rgba(0,0,0,0.2),
        -115px 30px 0 -30px white,
        -62px 90px 0 -61px #f6c83e,
        -65px 90px 0 -54px #edb815,
        -65px 92px 2px -54px rgba(0,0,0,0.2),
        -80px 90px 0 -32px white,
        -115px 33px 2px -30px rgba(0,0,0,0.1),
        -80px 93px 2px -32px rgba(0,0,0,0.1),
        -8px 110px 0 -45px #8c7842,
        -8px 113px 2px -45px rgba(0,0,0,0.2),
        25px 103px 0 -45px #806c35,
        25px 106px 2px -45px rgba(0,0,0,0.2),
        -93px -40px 0 -45px #e4a5b6,
        -93px -39px 0 -42px #c97d91,
        -93px -37px 2px -42px rgba(0,0,0,0.2);
    }

    #breakfast div.participant {
        width: 200px;
        border-radius: 100px;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top:100px;
        margin-left: -100px;
        color: white;
    }

    #breakfast div.participant-1 {
        left: 33%;
    }

    #breakfast div.participant-2 {
        left: 66%;
    }

    #breakfast div.participant img {
        border-radius: 100px;
    }

    #breakfast div.participant .participant-name {
        background: rgba(0, 0, 0, 0.2);
        padding: 0 10px;
        border-radius: 10px;
    }

    #clockdiv{
        position: absolute;
        left: 50%;
        margin-left: -175px;
        top: calc(50% + 220px);
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
    }

    #clockdiv > div{
        padding: 10px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
    }

    #clockdiv div > span{
        padding: 15px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
    }

    .smalltext{
        padding-top: 5px;
        font-size: 16px;
    }
</style>
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript">
        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }

        var deadline = new Date({{ ((day|date('U') + 36000) * 1000) }});
        initializeClock('clockdiv', deadline);
    </script>
{% endblock javascripts %}